@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "pink";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #fcfcfd;
  --color-base-200: #f9f9fb;
  --color-base-300: #eff0f3;
  --color-base-content: #1e1f24;
  --color-primary: #ff8fa2;
  --color-primary-content: #ffffff;
  --color-secondary: #b34b61;
  --color-secondary-content: #ffffff;
  --color-accent: #fda3b1;
  --color-accent-content: #ffffff;
  --color-neutral: #1e1f24;
  --color-neutral-content: #ffffff;
  --color-info: #8b8d98;
  --color-info-content: #ffffff;
  --color-success: #22c55e;
  --color-success-content: #ffffff;
  --color-warning: #f59e0b;
  --color-warning-content: #ffffff;
  --color-error: #ef4444;
  --color-error-content: #ffffff;
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
